.news__list {
    margin-bottom:64px;
    display: flex;
    justify-content: space-between;

}
.news__item{
    width: 557px;
   height: 392px;
   margin-right: 2%;
   display: inline-block;
   flex: 1;

}
.news__item:last-child{
    margin-right: 0;
}
.news__title{
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 51px;
}