.review{
    display: inline-flex;
    flex-direction: column;
    padding: 50px 30px;
    background:lightgrey;
 
}
.reviews{
    column-count: 2;
    column-gap: 40px;
}
.reviews__item{
    margin-bottom: 20px;
}
.review__header{
    display: flex;
    align-items: center;
}
.review__user{
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #2E77A4;
    margin-bottom: 11px;
}
.review__user:after {
    content: url("../img/vk-blue\ 1.png");
    height: 25px;
    margin-left: 5px;
}
.review__tags {
    display: flex;
    align-items: center;
}
.tag{
    font-size: 13px;
    color:#303030;
    padding: 8px 20px;
    border-radius: 50px;
    background:#B9EAE4 ;
}
.review__header{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  .review__userdata{
      margin-left: 10px;
  }
.review__title{
    font-size: 30px;
    color:#1A1B1E;
    font-weight: bold;
    margin-bottom: 23px;
}
.review__content-text{
    margin-bottom: 50px;
}
.review__date{
    font-weight: 600;
    font-size: 14px; 
    color: #1A1B1E;
}
.separator{
    background: url("../img/Rectangle.png");
    min-height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}
.separator__content{
    position: relative;
}

.review_photo-couple{
    margin-left: 600px;
}
.separator__title{
    font-size:48px;
    font-weight: bold;
    max-width: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.form__row{
    display: flex;
    margin-bottom: 30px;
}
.form__input   {
    flex: 1;
    margin-right: 30px;
    border-radius: 4px;
    border: none;
    background: white;
    padding: 22px 30px;
    font-size: 18px;
    color: black;
}
.form__input::placeholder{
    color:#666;
    cursor: pointer;

}
.form__input:last-child{
    margin-right:0px;
}

.form__input--textarea{
    height: 232px;
}
.form__controls{
    display: flex;
    margin-bottom: 30px;
}
.form__controls-title{
    width: 40%;
    padding-left: 10px;

}
.controls{
    flex:1;
    display: flex;
    flex-wrap: wrap;
}
.controls__item{
    margin-bottom: 10px;
    margin-right: 1px;

}
.controls__elem{
    cursor: pointer;
}
.input__checkbox:checked + .controls__tag{
    background:#E7E7E7;
}

.input__checkbox{
    display: none;
}

.btn--color--black{
    background: black;
    border-color: black;

}
.btn--color--black:hover{
    border-color: white;
}
.btn--color--red{
    background: red;
}
.form__btn{
    margin-right: 20px;
}
.form__btn:last-child{
    margin-right:0;
}
.form__btns{
    display: flex;
    justify-content: flex-end;
}