@import url('./base.css');
@import url('./footer.css');
@import url('./services.css');
@import url('./header.css');
@import url('./about.css');
@import url('./contact.css');
@import url('./contacts.css');
@import url('./hot-tour.css');
@import url('./hot-tours.css');
@import url('./logo.css');
@import url('./menu.css');
@import url('./news.css');
@import url('./pagination.css');
@import url('./preview.css');
@import url('./services.css');
@import url('./single-news.css');
@import url('./socials.css');
@import url('./review.css');























